@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&family=Inconsolata&family=Lobster&display=swap');

body {
  background: url('pexels-tima-miroshnichenko-7991436.jpg') no-repeat center bottom;
  background-attachment: fixed;
  max-height: 100vh;
  position: relative;
}
input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
footer {
  position: fixed;
  color: rgba(255, 255, 255, 0.404);
  bottom: 0vh;
  width: 100vw;
  height: 100px;
  background: rgba(80, 80, 80, 0.274);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > div {
  margin: 0 10px;
}
.footer-btns {
  text-align: center;
}
footer button {
  color: rgba(250, 177, 41, 0.76)!important;
  text-decoration: none!important;
  margin: 5px auto;
  border-radius: 15px!important;
}
footer button:hover {
  color: rgb(250, 177, 41)!important;
  background: rgba(250, 177, 41, 0.123)!important;
}
h1 {
  font-family: 'Fredoka One';
  color: orange;
  text-align: center;
  font-size: 5em!important;
}
h1 span {
  color: rgb(247, 189, 83);
}

h2 {
  font-size: 1.4em;
}

h4{
  font-size: 1.2em;
}
a {
  color: rgb(247, 189, 83);
  text-decoration: none;
}
ul {
  padding-left: 0!important;
}

li {
  font-size: .9em;
  list-style: none;
  display: inline;
  padding-left: 0!important;
  padding-right: 10px;
}
ul a {
  color: rgb(184, 184, 184);
  text-decoration: none;
}
ul a:hover {
  color: rgb(255, 255, 255);
  
}
td {
  padding: 7px;
}
.btn-danger {
  background: rgba(167, 0, 0, 0.4);
}
.indent {
  padding-left: 50px;
}
.bold {
  font-weight: bold;
}
/* .hidden {
  display: none;
} */
.form-control {
  font-family: 'Inconsolata';
  font-size: 1.2em;
  letter-spacing: .05em;
  border: none; 
  border-radius: 0!important;
  padding: 15px;
}

input {
  background: transparent;
  font-family: 'Inconsolata';
  font-size: 1.2em;
  letter-spacing: .05em;
  border: none; 
  border-bottom: 1px solid grey;
  font-size: 1.2em;
  border-radius: 0!important;
  padding: 15px;
  margin: 35px auto 0 auto;
  width:100%!important;
  color: white;
}

input::placeholder {
  color: rgb(167, 167, 167);
}

.nav-tabs a {
  color: rgb(255, 165, 62)!important;
  font-size:2em!important;
}
.nav-tabs {
  border: none!important;
}
.nav-link {
  transition: all .5s ease-in;
}
.nav-link.active {
  background: rgba(78, 78, 78, 0.521)!important;
  border-color: transparent!important;
}
.nav-link:hover {
  background: rgba(220,220,220,.3)!important;
  border: none!important
}
.modal form {
  text-align: center;
}
.modal input {
  background: rgba(255, 189, 89, 0.788);
  margin: 5px auto;
}
.modal input:focus {
  background: rgb(253, 172, 51);
} 
.modal h2 {
  font-family: 'Fredoka One';
  font-size: 2.2em;
  color: orange
}
.modal-body, .modal-header {
  background: rgba(182, 182, 182, 0.185)!important;
  backdrop-filter: blur(15px);
}

.page {
  display: flex;
  width: 85%;
  align-items:flex-start;
  margin: auto;
  background: rgba(50,50,50,.2);
  backdrop-filter: blur(5px);
}

/* .main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(50,50,50,.2);
  margin: auto;
  backdrop-filter: blur(6px);
  width: 70vw;
}

.mini {
  background: rgba(50,50,50,.2);
  max-width: 70vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
} */


.welcome-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .8s ease-in;
  margin: 35px 50px;
}

.logo-small {
  transform: scale(.6);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  transition: all .8s ease-in;
}
.logo-small img {
  height: 90px;
}
.user-box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-box div {
  margin: 0 20px;
}
.username {
  font-size: 2em;
  font-family: 'Fredoka One';
}

.search {
  margin: 75px 50px;
  min-width: 400px;
  max-width: 400px;
}
.search-results {
  -webkit-mask-image: linear-gradient(to top, black 90%, transparent 100%);
  mask-image: linear-gradient(to top, black 90%, transparent 100%);
  max-height: 50vh;
  overflow-y: scroll;
  font-size: 18px;
  margin: 30px 0;
  overflow-x: hidden;
}

.search > * {
  max-width: 100%;
  min-width: 100%;
}

.no-results {
  padding: 30px;
  text-align: center;
  color: white;
}
.list-item {
  background: rgba(20,20,20,.4);
  color: white;
  max-width: 100%;
  font-size: .8em;
  margin-top: 15px;
  padding: 20px;
  transition: all .4s ease-in;
}
.list-item:hover {
  background: rgba(200,200,200,.1)
}
.list-item a {
  transition: all .3s ease-in;
}
.list-item a:hover {
  color: rgb(190, 101, 29);
}
.list-item 
.search-results {
  background: rgba(220,220,220,.4);
  padding: 10px;
  width: 65%;
}

.movie-box {
  background: rgba(180,180,180,.2);
  color: white;
  margin: 25px 30px;
  backdrop-filter: blur(10px);
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
}
#bio {
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  font-size: 18px;
}
.buttons {
  padding: 0;
}
.movie-box > div {
  padding: 15px 25px;
}
.movie-box h6 {
  font-style: italic;
}
.movie-box ul {
  margin: 0;
}
.movie-box button {
  color: rgba(255, 255, 255, 0.644)!important
}
.reversed {
  background: rgba(20,20,20, .5);
  color: white
}
.uppercase {
  text-transform: uppercase;
}

.veryhigh {
  color: rgb(26, 126, 87)
}
.high {
  color: rgb(27, 173, 27)
}
.above-medium {
  color: rgb(165, 207, 50)
}
.medium {
  color: rgb(226, 213, 38)
}
.below-medium {
  color: rgb(235, 147, 75)
}
.low {
  color: rgb(228, 106, 58)
}
.verylow {
  color: rgb(252, 45, 45)
}


.watchlist {
  margin: 0 auto;
  padding: 20px;
  background: rgba(20,20,20,.4);
  backdrop-filter: blur(15px);
}
.watchlist h3 {
  font-family: 'Fredoka One';
  color: orange;
  letter-spacing: .07em;
  margin: 15px;
}

.watchlist h2 {
  color: white
}

.watchlist ul {
  margin: 30px;
}
.watchlist li {
  display: block;
}

#credits li {
  display: block;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(160, 160, 160, 0.432);
}

@media screen and (max-width: 1400px) {

  .movie-box {
    width: 80%;
  }

  td {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  
  .page {
    width: 85%;
  }
  .main-container {
    width: 100%;
    flex-direction: column;
  }
  .mini {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .logo-small {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  .welcome-logo img {
    height: 100px;
  }
  .logo-small {
    transform: scale(0.4);
  }
  .nav-tabs {
    transform: scale(.7);
  }
  .search {
    margin: auto;
  }
  .search-results {
    height: 30vh;
    font-size: 18px;
    margin-bottom: 0p;
  }
  .movie-box {
    width: 90%;
    margin: 10px auto 100px auto;
  }
  footer {
    background: rgba(50, 50, 50, 0.247);
    color: white;
    justify-content: space-between;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 80px;
    bottom: 0;
    backdrop-filter: blur(15px);
  }
  .footer-btns {
    display: flex;
  }
  
}