@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&family=Inconsolata&family=Lobster&display=swap');

body {
  /* background: rgb(4, 4, 65); */
  background: url('pexels-tima-miroshnichenko-7991436.jpg') no-repeat center bottom;
  background-attachment: fixed;
  max-height: 100vh;
  position: relative;
}
input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
footer {
  position: absolute;
  bottom: 0;
}

footer > div {
  margin: 10px;
}
.footer-btns {
  text-align: center;
}
footer button {
  color: rgba(250, 177, 41, 0.966)!important;
  text-decoration: none!important;
  margin: 5px auto;
}

h1 {
  font-family: 'Fredoka One';
  color: orange;
  text-align: center;
  font-size: 5em!important;
}
h1 span {
  color: rgb(247, 189, 83);
}

h2 {
  font-size: 1.4em;
}

h4{
  font-size: 1.2em;
}
a {
  color: rgb(247, 189, 83);
  text-decoration: none;
}
ul {
  padding-left: 0!important;
}

li {
  font-size: .9em;
  list-style: none;
  display: inline;
  padding-left: 0!important;
  padding-right: 10px;
}
ul a {
  color: rgb(184, 184, 184);
  text-decoration: none;
}
ul a:hover {
  color: rgb(255, 255, 255);
  
}
.indent {
  padding-left: 50px;
}
.bold {
  font-weight: bold;
}

.form-control {
  font-family: 'Inconsolata';
  font-size: 1.2em;
  letter-spacing: .05em;
  border: none; 
  border-radius: 0!important;
  padding: 15px;
}

input {
  background: transparent;
  font-family: 'Inconsolata';
  font-size: 1.2em;
  letter-spacing: .05em;
  border: none; 
  border-bottom: 1px solid grey;
  font-size: 1.2em;
  border-radius: 0!important;
  padding: 15px;
  margin: 35px auto 0 auto;
  width:100%!important;
  color: white;
}

input::placeholder {
  color: rgb(167, 167, 167);
}

.nav-tabs a {
  color: rgb(255, 165, 62)!important;
  font-size:2em!important;
}
.nav-tabs {
  border: none!important;
}
.nav-link {
  transition: all .5s ease-in;
}
.nav-link.active {
  background: rgba(78, 78, 78, 0.521)!important;
  border-color: transparent!important;
}
.nav-link:hover {
  background: rgba(220,220,220,.3)!important;
  border: none!important
}

.page {
  display: flex;
  width: 85%;
  margin: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(50,50,50,.2);
  margin: auto;
  /* max-height: 100vh;
  min-height: 100vh!important; */
  backdrop-filter: blur(6px);
  width: 70vw;
}

.mini {
  width: 70vw;
  background: rgba(50,50,50,.2);
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.intro-container {
  background: rgba(0, 0, 0, 0.342);
  width: 13vw;
}
.welcome-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .8s ease-in;
  margin: 35px 50px;
}

.logo-small {
  transform: scale(.5);
  transition: all .8s ease-in;

}
.search {
  margin: 75px 50px;
  min-width: 400px;
  max-width: 400px;
}
.search-results {
  -webkit-mask-image: linear-gradient(to top, black 90%, transparent 100%);
  mask-image: linear-gradient(to top, black 90%, transparent 100%);
  height:  60vh;
  overflow-y: scroll;
  font-size: 18px;
}

.search > * {
  max-width: 100%;
  min-width: 100%;
}

.no-results {
  padding: 30px;
  text-align: center;
  color: white;
}
.list-item {
  background: rgba(20,20,20,.4);
  color: white;
  max-width: 100%;
  font-size: .8em;
  margin-top: 15px;
  padding: 20px;
  transition: all .4s ease-in;
}
.list-item:hover {
  background: rgba(200,200,200,.1)
}
.list-item a {
  transition: all .3s ease-in;
}
.list-item a:hover {
  color: rgb(190, 101, 29);
}
.list-item 
.search-results {
  background: rgba(220,220,220,.4);
  padding: 10px;
  width: 65%;
}
.search-results {
  margin: 30px 0;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.movie-box {
  background: rgba(180,180,180,.2);
  color: white;
  width: 45%;
  margin: 75px 50px;
  backdrop-filter: blur(10px);
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
}
.buttons {
  padding: 0;
}
.movie-box > div {
  padding: 15px 25px;
}
.movie-box h6 {
  font-style: italic;
}
.movie-box ul {
  margin: 0;
}
.movie-box button {
  color: rgba(255, 255, 255, 0.644)!important
}
.reversed {
  background: rgba(20,20,20, .5);
  color: white
}

#credits li {
  display: block;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(160, 160, 160, 0.432);
}


@media screen and (max-width: 800px) {
  
  .page {
    width: 100%;
  }
  .main-container {
    width: 100%;
    flex-direction: column;
  }

  .mini {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .intro-container {
    height: 200px;
  }
  .logo-small {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .welcome-logo img {
    height: 120px;
  }
  .logo-small {
    height: 180px;
  }
  .search {
    margin: auto;
  }

  .search-results {
    height: 30vh;
    font-size: 18px;
    margin-bottom: 0p;
  }
  .movie-box {
    width: 90%;
    margin-top: 0;
    margin-bottom: 100px;
  }
  .movie-box > div{
    margin: 0;
    width: 100%;
  }

  footer {
    background: rgba(50, 50, 50, 0.247);
    justify-content: space-between;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 80px;
    bottom: 0;
    backdrop-filter: blur(5px);
  }

  .footer-btns {
    display: flex;
  }
}