@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&family=Inconsolata&family=Lobster&display=swap');

body {
  background: rgb(4, 4, 65);
}
input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
h1 {
  font-family: 'Fredoka One';
  color: orange;
  text-align: center;
  font-size: 5.5em!important;
}
h1 span {
  color: rgb(247, 189, 83);
}
.form-control {
  background: rgb(54, 83, 136);
  font-family: 'Inconsolata';
  font-size: 1.2em;
  letter-spacing: .05em;
  border: none; 
}

.form-control:focus {
  background: rgb(147, 177, 233);  
}
.btn,
.form-control  {
  font-size: 1.2em;
  border-radius: 0!important;
  padding: 15px;
}

.form-control::placeholder {
  color: white;
}

input {
  background: rgb(54, 83, 136);
  font-family: 'Inconsolata';
  font-size: 1.2em;
  letter-spacing: .05em;
  border: none; 
  font-size: 1.2em;
  border-radius: 0!important;
  padding: 15px;
}
.welcome-logo {
  transition: all .8s ease-in
}

.movie-item {
  background: rgba(20,20,20,.4);
  color: white;
  margin: 10px;
  padding: 20px;
}

.search-results {
  background: rgba(220,220,220,.4);
  padding: 10px;
  width: 65%;
}