@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&family=Inconsolata&family=Lobster&display=swap');

body {
  /* background: rgb(4, 4, 65); */
  background: url('pexels-tima-miroshnichenko-7991436.jpg') no-repeat center bottom;
}
input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
h1 {
  font-family: 'Fredoka One';
  color: orange;
  text-align: center;
  font-size: 5em!important;
}
h1 span {
  color: rgb(247, 189, 83);
}

h2 {
  font-size: 1.4em;
}

h4{
  font-size: 1.2em;
}
a {
  color: rgb(247, 189, 83);
  text-decoration: none;
}
ul {
  padding-left: 0!important;
}

li {
  font-size: .9em;
  list-style: none;
  display: inline;
  padding-left: 0!important;
  padding-right: 10px;
}
ul a {
  color: rgb(184, 184, 184);
  text-decoration: none;
}
ul a:hover {
  color: rgb(255, 255, 255);
  
}
.indent {
  padding-left: 50px;
}
.bold {
  font-weight: bold;
}

.form-control {
  font-family: 'Inconsolata';
  font-size: 1.2em;
  letter-spacing: .05em;
  border: none; 
  border-radius: 0!important;
  padding: 15px;
}

input {
  background: rgb(255, 165, 62);
  font-family: 'Inconsolata';
  font-size: 1.2em;
  letter-spacing: .05em;
  border: none; 
  font-size: 1.2em;
  border-radius: 0!important;
  padding: 15px;
  margin: 50px;
}

input::placeholder {
  color: black;
}

.nav-tabs a {
  color: rgb(255, 165, 62)!important;
  font-size:2em!important
}
.nav-tabs {
  border: none!important;
}
.nav-link.active {
  background: rgba(78, 78, 78, 0.411)!important;
  border-color: transparent!important;
}
.main-container {
  background: rgba(220,220,220,.1);
  max-height: 100vh;
  min-height: 100vh!important;
  backdrop-filter: blur(6px);
}
.welcome-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .8s ease-in
}

.logo {
  border: 1px solid red;
}
.logo-small {
  transform: scale(.7);
}
#search {
  min-width: 450px;
  max-width: 450px;
}

#search > * {
  max-width: 100%;
  min-width: 100%;
}
.no-results {
  color: white;
}
.list-item {
  background: rgba(20,20,20,.4);
  color: white;
  max-width: 100%;
  font-size: .8em;
  margin-top: 15px;
  padding: 20px;
}
.list-item 
.search-results {
  background: rgba(220,220,220,.4);
  padding: 10px;
  width: 65%;
}
.search-results {
  margin: 30px 0;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.movie-box {
  background: rgba(220,220,220,.3);
  color: white;
  width: 45%;
  margin: 50px;
  backdrop-filter: blur(10px);
  /* min-height: 75vh;
  max-height: 75vh; */
}
.buttons {
  padding: 0;
}
.movie-box > div {
  padding: 15px 25px;
}
.movie-box h6 {
  font-style: italic;
}
.movie-box ul {
  margin: 0;
}
.reversed {
  background: rgba(20,20,20, .5);
  color: white
}
::-webkit-scrollbar-track
{
  background-color: transparent;
}

::-webkit-scrollbar
{
  width: 15px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb
{
  background-color: rgba(160, 160, 160, 0.432);
}